.burger-menu__span {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	position: relative;
	cursor: pointer;
}

.burger-menu__span span {
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #fff;
	transition: all 0.3s ease;
}

.burger-menu__span::before {
	content: '';
	position: absolute;
	top: 6px;
	height: 2px;
	width: 100%;
	background-color: #fff;
	transition: all 0.3s ease;
}

.active__span span {
	scale: 0;
}

.burger-menu__span::after {
	content: '';
	position: absolute;
	top: 22px;
	height: 2px;
	width: 100%;
	background-color: #fff;
	transition: all 0.3s ease;
}

.active__span::before {
	top: 50%;
	rotate: -45deg;
}

.active__span::after {
	top: 50%;
	rotate: 45deg;
}

/* Настройка меню */

.burger-menu {
	position: absolute;
	inset: -1000px 0 0 0;
	transition: all 0.3s ease;
}

.active__menu {
	position: absolute;
	inset: 100px 0 0 0;
}
